@use '@angular/material' as mat;

article {
  padding: 20px 30px;

  .view-header {
    h1 {
      margin-bottom: 0;
    }

    span {
      color: #757575;
    }
  }

  img {
    border-radius: 5px;
    margin: 20px 0;
    width: 750px;
    height: auto;
    @include mat.elevation(6);
  }
}

@media screen and (max-width: 765px) {
  article {
    img {
      width: 100%;
      height: auto;
    }
  }
}
